{
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "displayName": true
      }
    ],
     ["styled-components", { "ssr": false, "displayName": true, "preprocess": false } ]
  ]
}
